*.log
wp-config.php
wp-content/backup-db/
wp-content/upgrade/
wp-content/uploads/
/wp-content/wptouch-data/cache/
/wp-content/wptouch-data/uploads/
wp-content/cache/

/sitemap.xml
/sitemap.xml.gz

.well-known

.idea/

wp-content/w3tc-config/master.php

nookZglI2bf5hxL-yBNQ8Rc0SvUFlm1O04_Og_bCYGk
