<IfModule mod_rewrite.c>
    Redirect 301 /about http://tantacom.com/quienes-somos
	RedirectMatch 301 /quienes_somos/equipo/* /quienes-somos
	RedirectMatch 301 /proyectos/.* /casos-de-exito
	RedirectMatch 301 /clientes/.* /casos-de-exito
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
