#header ul, #home ol, #bodyContent, #experience li, #descriptionProject, #cv, #staff ul, #strategy li { height: 1% }

.entry object { display:none }

#staff li li { position:relative;    }
	#staff li li .middle { position:absolute; top: 50%; left:5px;  }
	#staff li li .inner {  position:relative; top: -50%;  }

#filter select { vertical-align:middle  }
#content.detail .single { margin-top:17px }

#footer { height:113px }