#wrapper { font-family:Arial, Helvetica, sans-serif; font-size:11px; }
#footer { font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10px }

#content h2, #info h2, #cv .description h3, #staff h3, #filter select, #content.detail .post small, #commentform label small, .commentlist small, #sideBar .flt .seeMore a { font-size: 11px }
#breadCrumb span a, #content.detail .post .entry, #content.detail .post .postmetadata, .navigation a, .commentlist p { font-size: 12px }
#content h1, .tanta ul h2 a, .block h1, #main .block h2, .block h3, #sideBar h2, .lastProject .title, .lastPost .title, #content.detail .post h1, #content.detail .post h2, #content .titleCategories  { font-size: 18px }
#content.detail #respond, #content.detail #comments, #content.detail .post h3  { font-size:15px; }
#breadCrumb h1 { font-size:16px; }
#breadCrumb li { font-size:20px; }
#home ol h2 { font-size: 22px;  }
#home ol h2 span { font-size: 30px }
#strategy h3 { font-size: 40px; }


a { color: #2175af }
#home ol h2, #content h1, .block h1, #info h2 a, .tanta ul h2 a, #staff h2 a, #breadCrumb li h1, #breadCrumb a, .block h2, #content h2, #cv .description h3, #content.detail .post h1 a, #content.detail .post h2 a, #content.detail .post h3 a, #content.detail #respond, #content.detail #comments, .commentlist span, .commentlist cite, .commentlist cite a{ color: #00b2d8 }
#wrapper, #sideBar .flt li a, #sideBar .flt .seeMore a, .siguenos span { color: #898585 }
#info .description a, .address a, .block h3, .text a, #cv .description a, #staff h3 a, #experience li h3 a, #descriptionProject dd a, #strategy h3, #content.detail .post .entry a, #content.detail .post .postmetadata a, .navigation a { color: #A8993F }
.address, #filter select { color: #636161 }
#filter label, #sideBar h2, #sideBar li span , .testimony, .lastProject, .lastPost, .lastPost span a, .lastPost .title a, .lastProject span a, .lastProject .title a, #sideBar.blog li li a, #sideBar.blog .home a, #sideBar.blog li p { color: #fff }
#descriptionProject dt { color: #22BCDD }
#sideBar.blog li li { color:#BDEBF6 }
#content.detail .post .postmetadata a.respond { color:#A50303 }

.legal a { color:#2DB2F7 }

#footer span a, #home ol p, #home ol h2 span, .address a, #cv .description a, #filter label, .testimony span span, #descriptionProject dt, #descriptionProject dd a { font-weight:bold }

#home ol h2, #content h1, .tanta ul h2, .block h1, #breadCrumb h1, .block h2, .block h3, #sideBar h2, #strategy h3, #content.detail .post h2, #content.detail .post h3, #content.detail #respond, #content.detail #comments, #content .titleCategories { font-weight: normal }

.commentlist cite { font-style:normal }

#footer span a:hover, #info h2 a, #info .description a, .tanta ul h2 a, .address a, #breadCrumb a:hover, .text a, #cv .description a:hover, #staff h2 a, #staff h3 a, #experience li h3 a, #descriptionProject dd a, .lastPost span a:hover, .lastProject span a:hover, .lastPost .title a, .lastProject .title a, #sideBar.blog li li a, #content.detail .post .entry a, #content.detail .post h1 a, #content.detail .post h2 a, #content.detail .post .postmetadata a, .navigation a, .commentlist cite a, #content.detail .post h3 a, #sideBar.blog .home a, #sideBar .flt li a, #sideBar .flt .seeMore a:hover { text-decoration: none }
#info .description a:hover, .tanta ul h2 a:hover, .address a:hover, .text a:hover, #staff h2 a:hover, #staff h3 a:hover, #experience li h3 a:hover, #descriptionProject dd a:hover, .lastPost .title a:hover, .lastProject .title a:hover, #sideBar.blog li li a:hover, #content.detail .post .entry a:hover, #content.detail .post h1 a:hover,  #content.detail .post h2 a:hover, #content.detail .post .postmetadata a:hover, .navigation a:hover, .commentlist cite a:hover, #content.detail .post h3 a:hover, #sideBar.blog .home a:hover, #sideBar .flt li a:hover { text-decoration: underline }

#home ol li p { line-height: 18px }
#breadCrumb h1 { line-height:25px; }
#breadCrumb span { line-height: 29px }

#home p, #content h1, #info h2 { letter-spacing: -1px }