	/**** --- Estructura --- *****/

#wrapper { position: relative; width:892px; margin-left: auto; margin-right: auto; text-align: left;   }

#header { height: 39px; background: url(../images/bck_header.gif) no-repeat 0 0 }

#entry { position:relative; z-index:1; margin-left:3px; margin-bottom:2px; }

#bodyContent { position:relative; z-index:3; background:url(../images/bck_faux.gif) repeat-y 0 0  }
	#sideBar { position:absolute; right:17px; z-index:4;  width: 385px; min-height:525px; margin-top:-20px; padding:41px 23px 21px 23px; background: url(../images/bck_sideBar1.gif) repeat-x 0 0;   }
		#home #sideBar {position:absolute; top:-20px; right:0; z-index:4; min-height:460px; margin-top:0; background-image: url(../images/bck_sideBar.gif); }
		#sideBar.blog .flt { float:right; width:193px; padding-bottom:59px; }
		#sideBar.blog .frt { float:left; width:175px }
	#main {float:left; width:442px; min-height:505px; margin-left: 3px; padding-bottom:32px;  }
		#main.detail { width: 888px }
		#home #main { float:none; width:auto; min-height: 331px; padding-left:44px; padding-top:43px; }

		#content { position:relative; width:342px; min-height:383px; margin:30px 0 32px 19px; padding:20px 504px 20px 23px; background: #fff url(../images/bck_faux_3.gif) repeat-y 4px 0; }

#footer { position:relative; height:157px; padding: 20px 0 20px 3px; background: url(../images/bck_faux-fot.gif) repeat-y 0 0 }
	#home #footer { height: auto; background-image: none }

#header ul:after, #bodyContent:after, #home ol:after, #breadCrumb:after, #descriptionProject:after, #experience li:after, #cv:after, #staff ul:after, #strategy li:after { clear: both; display: block; height: 0; visibility: hidden; content: "." }
