#home ol { width: 558px; margin:0; padding:0; list-style:none }
	#home ol li{ float: left; position:relative; width: 152px; min-height:331px; padding-right:20px; margin-right:20px; border-right:1px solid #fff }
		#home ol li.reset { border-right:none; margin-right:0; padding-right:0;  }
		#home h2 { margin-bottom: 22px }
		#home li object { display:block; width:152px; margin:10px auto; }

#content h1 { margin-bottom: 18px; }

#sideBar.blog .flt .wrap { padding-bottom:10px; background:#fff url(../images/bck_rss.gif) repeat-x 0 0; }

	#sideBar ul { margin:7px 0 0 0; padding:0; list-style:none }
		#sideBar li { margin-bottom:16px; padding-bottom:12px; border-bottom:1px solid #33CFF6 }
			#sideBar li img, .testimony img, .lastProject img, .lastPost img { display:block; margin:0 auto; border:3px solid #fff }
			#sideBar li span { display:block; margin-top:6px; }
		#sideBar .flt .seeMore { display:block; padding:0 20px; text-align:right }


.btns { clear:both; text-align:right }
.title { margin-top:10px; margin-bottom:14px; padding-bottom:10px; border-bottom:1px solid #ebebeb }
.text { margin-bottom:34px; }
	.text ul, #content.detail .post .entry ul { margin:15px 0 15px 34px; padding:0; list-style:none }
		.text li, #content.detail .post .entry li { margin-bottom:13px; padding-left:15px; background: url(../images/bullet_general.gif) no-repeat 0 5px }
		.text p, #content.detail .post .entry p { margin-bottom: 5px }

.text ol li, #content.detail .post .entry ol li { background:none; display:list-item }

#searchform, #feedForm { margin: 14px 0; padding:10px 0; border-bottom:1px solid #61D9F7; border-top:1px solid #61D9F7 }
#searchform .text, #feedForm .text { width:106px; height:22px; margin-bottom:0; border:1px solid #A7A6AA }
	#searchform input, #feedForm input { vertical-align:middle }

	#sideBar.blog .home { display:block; }

	#sideBar.blog ul ul { margin-bottom:23px; padding-bottom:16px; border-bottom:1px solid #33CFF6 }
		#sideBar.blog ul ul ul {margin-bottom:0; padding-bottom:0; border-bottom:none }

	#sideBar.blog li { margin-bottom:0; padding-bottom:4px;  border-bottom: none }
	#sideBar.blog li li, #sideBar.blog .home { padding-left:10px; background:url(../images/bck_liBlog.gif) no-repeat 0 3px; }

#feedForm { border-top:0 }
	#feedForm .text { margin-bottom:0 }

#content.detail .post {clear:both; margin-bottom:42px; padding-bottom:17px;  }
#content.detail .single { margin-top:37px }
#content.detail .categories { margin: 10px 0 37px 0 }
#content.detail .post p { margin:12px 0 }
#content.detail .post .entry h2 { margin-top:20px }
#content.detail .post .entry ul { margin-left:2px }
#content.detail .post .entry img, #content.detail .post .entry object { max-width:327px; }
	#content.detail .post .entry li { margin-bottom:7px }
	#content.detail .post .postmetadata { padding-top:5px; border-top:1px solid #ECEBEB; text-align:right }
	#content.detail .post .postmetadata.alt { padding:7px 15px; border-bottom:1px solid #ECEBEB; text-align:left; }

.commentlist { margin:0 0 25px 0; padding:0; list-style:none; border-bottom:1px solid #ECEBEB }
	.commentlist li { margin-bottom:17px }
	.commentlist .commentmetadata {display:block; margin-bottom:11px }
	.commentlist li div.comment { position:relative; padding:8px 11px; background-color:#F3F3F3 }
		.commentlist li div p { margin-bottom: 12px }

#comments { margin-bottom:15px; }
#commentform { margin-top:8px }
	#commentform p { margin-bottom:18px; }
	#commentform label { margin-left:11px }
	#commentform .txt { width:148px; border:1px solid #A7A6AA; }
	#commentform textarea.txt { width:349px }
	#commentform p.submit { text-align:right }

#content h1.titleCategories { margin-bottom:0 }
#content.detail h1 { letter-spacing:0 }


.entry img { margin:0 5px 5px 5px }


#sideBar .flt ul { padding:0 19px }
	#sideBar .flt li { padding-left:14px; background:url(../images/bullet_rss.gif) no-repeat 0 5px }

/* CURVES */
.tanta ul li .cTopLeft, .tanta ul li .cTopRight, .block .cTopLeft, .block .cTopRight, .commentlist li div .cTop, .commentlist li div .cBottom, .commentlist li div .cTopR, .commentlist li div .cBottomR { position:absolute; width:5px; height:5px; background-repeat:no-repeat; background-position:0 0 }
.tanta ul li .cTopLeft, .block .cTopLeft{ top:0; left:0; background-image: url(../images/curve_cTopLeft.gif) }
.tanta ul li .cTopRight, .block .cTopRight { top:0; right:0; background-image: url(../images/curve_cTopRight.gif) }

#content .commentlist li div .cTop {  top:0; left:0; background-image: url(../images/curve_commentTL.gif) }
#content .commentlist li div .cBottom {  bottom:0; left:0; background-image: url(../images/curve_commentBL.gif) }
#content .commentlist li div .cTopR {  top:0; right:0; background-image: url(../images/curve_commentTR.gif) }
#content .commentlist li div .cBottomR {  bottom:0; right:0; background-image: url(../images/curve_commentBR.gif) }